.homepage {
  &__background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-image: url("../../assets/image/homepage.png");
  }

  &__description {
    margin-left: 30px;

    &-title {
      font-size:8rem;
      margin-top: 150px;
    }

    &-firstname {
      margin-top: 40px;
      font-size:3rem;
    }
  }
}

.homepage__interactions {
  position: absolute;
  bottom: 30px;
  right: 30px;

  &-items {
    font-size:4rem;
    color: #CEB7FF;
    text-align: center;
  }
}
