body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Cacher la scrollbar pour les navigateurs WebKit (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.earth {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100vw;
}

.homepage__border {
  border: 1px solid #CEB7FF;
  width: 50vw;
  color: blue;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.hompepage {
  &__background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-image: url("../assets/image/homepage.png");
  }

  &__title, &__firstname {
    font-size:4rem;
    color: #CEB7FF;
    text-align: center;
    position: relative;
  }

  &__firstname {
    margin-top: 100px;
  }
}

.homepage__interactions {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;

  &-items {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size:4rem;
    color: #CEB7FF;
    text-align: center;
    position: relative;
  }
}
