<div class="hompepage__background">
  <div class="homepage__border"></div>
    <h2 class="hompepage__title">Hello and welcome to my portfolio</h2>
    <div class="homepage__border"></div>
  <h2 class="hompepage__firstname">I am Théo</h2>

  <div class="homepage__interactions">
    <div class="homepage__interactions-items">
      <p>PRESS</p>
      <img src="../assets/icons/press.png" alt="press">
    </div>
    <div class="homepage__interactions-items">
      <p>SCROLL</p>
      <img src="../assets/icons/scroll.png" alt="scroll">
    </div>
  </div>
</div>
<img class="earth" src="../assets/image/homepage_earth.png" alt="earth">

